@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --color: #191919;
  --grey-color: #888888;
  --dark-grey-color: #676767;
  --background-color: #FFE4B5;
  --gameboard-background-color: #191919;
  --gameboard-button-background-color: #BDB76B;
  --gameboard-button-background-color-hover: #222222;
  --gameboard-button-text-color: #ffe4b5;
  --win-highlight-background-color: #BDB76B;
  --start-game-button-background-color: #BDB76B;
  --player-name-button-background-color: #BDB76B;
  --player-name-button-background-color-hover: #BDB76B;
}

body {
  background-color: var(--background-color);
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  color: var(--color);
}

/* Header */

.start-page header {
  font-size: 3.8rem;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.main-page header {
  font-size: 3.8rem;
  margin: 32px 0 0 0;
  text-transform: capitalize;
  text-align: center;
  margin: 43px 0 0 0;
}

/* Start Page */

.start-page.hidden,
.main-page.hidden {
  display: none;
}

.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: var(--color);
  background-color: var(--background-color);
  color: var(--color);
  z-index: 2;
}

.start-page > p {
  margin: 0;
  font-size: 1.2rem;
}

.start-game-button {
  margin: 32px 0 0 0;
}

.start-game-button,
.restart-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: unset;
  width: 200px;
  height: 54px;
  color: var(--color);
  background-color: var(--start-game-button-background-color);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.start-game-button:hover,
.restart-game-button:hover {
  filter: brightness(1.2);
  transform: scale(1.06, 1.06);
}

.start-game-button:active,
.restart-game-button:active {
  filter: brightness(0.9);
}

/* Main */

.main-page {
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 99vh;
  width: 100vw;
  align-items: center;
  gap: 18px;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 36px;
  width: 100vw;
  height: 100vh;
  margin-top: 42px;
}

/* Gameboard */

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 136px);
  grid-template-rows: repeat(3, 136px);
  gap: 18px;
  justify-content: center;
  background-color: var(--gameboard-background-color);
  border-radius: 21px;
  padding: 18px;
}

/* Gameboard Buttons */

.board-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  padding: 0;
  background-color: var(--gameboard-button-background-color);
  color: var(--gameboard-button-text-color);
  transition-duration: 0.3s;
  user-select: none;
  text-transform: uppercase;
}

.board-button:enabled:hover {
  background-color: var(--gameboard-button-background-color-hover);
  transform: scale(1.06, 1.06);
}

.win-highlight {
  background-color: var(--win-highlight-background-color);
  scale: 1.06;
}

/* Player Cards */

.player-cards {
  display: flex;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.versus {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  max-width: 160px;
  overflow: hidden;
  gap: 8px;
  padding: 14px 28px;
  text-transform: capitalize;
  background-color: var(--gameboard-background-color);
  border-radius: 18px;
}

.player-card p {
  color: #ffe4b5;
  margin: 0;
}

.player-card > p:first-child {
  font-size: 0.9rem;
}

.player-name {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--player-name-button-background-color);
  color: var(--color);
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  padding: 5px 16px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.player-name:hover {
  filter: brightness(1.1);
}

/* Winner Modal */

.winner-modal {
  display: flex;
  flex-direction: column;
  font-weight: 1000;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30vh;
  border-radius: 18px;
  width: 500px;
  height: 300px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  transition: visibility 0s linear 0.25s, opacity 0.15s 0s;
  z-index: 2;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s linear 0s, opacity 0.55s 0.55s;
}

.winner-modal > p {
  color: #ffe4b5;
  font-size: 3rem;
  text-align: center;
}

.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--border-divider);
  height: 72px;
}

footer a {
  color: var(--grey-color);
  text-decoration: none;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
